body{
    background-image:url("");
            background-color: antiquewhite;
}
.h{
    color: #4d33068a;
    font-family: "EB Garamond";
    background-color: #f0a856;
    
}
.block{
    padding-left: 100px;
}
.dark{
    background-color: #f0a856;
}
.ol{
    list-style-image: linear-gradient(burlywood 0, burlywood 50%, #ffb214 50%);
}
.icon{
    background-color: burlywood;
    color: rgb(95, 56, 6);
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 1100px;
}
.th{
    background-color: #f0a856ce;
}
.td{
    background-color: rgba(248, 201, 100, 0.521);
}
.p{
    font-size: 20px;
}
.li{
    font-size: 18px;
}